{% extends 'admindash.html' %}
{% load static %}
{% block A1 %}
<h1>Change Password</h1>

<form action="../ChangeAdminPassword1/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="{{email}}">
    <p>Old Password : <input type="text" name="T1"></p>
    <p>New Password : <input type="text" name="T2"></p>
    <p>Confirm Password : <input type="text" name="T3"></p>
    <input type="submit" class="btn btn-block btn-primary" value="Change Password">
</form>
{% if msg %}
<p>{{msg}}</p>
{% endif %}
{% endblock %}