{% extends 'admindash.html' %}
{% load static %}
{% block A1 %}
<H1>Edit Transaction</H1>
{% if data %}
<form action="../EditTransaction1/" method="POST">
    {% csrf_token %}
    {% for d in data %}
    <p><input type="hidden" name="T1" value="{{e1}}"></p>
    <p><input type="hidden" value="{{d.id}}" name="T1"></p>
    <p>Amount  : <input type="text" value="{{d.amount}}" name="T2"></p>
    <p>Date : <input type="date" value="{{d.date}}"   id="date" name="T3"></p>
    <p>Transaction : <input type="text" value="{{d.transaction}}" name="T4"></p>
    <p>Remark : <input type="text" value="{{d.remark}}" name="T5"></p>
    <input type="submit" class="btn btn-block btn-primary"  value="Save & Change"/>
    {% endfor %}
</form>
{% endif %}
{% endblock %}
