{% extends 'userdash.html' %}
{% load static %}
{% block U1 %}
{% if data %}
<style>
          .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
</style>
<div class="card" style="margin-top: 100px;">
    <div class="card-header mb-3 " style="font-size: 20px;font-weight: bold;">
        Show Transaction
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Transaction</th>
                <th>Remark</th>
            </tr>
            </thead>
            <tbody>

            {% for d in data %}
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.amount}}</td>
                <td>{{d.date}}</td>
                <td>{{d.transaction}}</td>
                <td>{{d.remark}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endblock %}
